In [4]:
import pandas as pd
file = "./ref/IRIS.csv"
iris = pd.read_csv(file)
iris

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [22]:
iris.query("sepal_length>5 or petal_length<1.5")

                sepal_length  sepal_width  petal_length  petal_width
species
Iris-setosa              5.1          3.5           1.4          0.2
Iris-setosa              4.9          3.0           1.4          0.2
Iris-setosa              4.7          3.2           1.3          0.2
Iris-setosa              5.0          3.6           1.4          0.2
Iris-setosa              5.4          3.9           1.7          0.4
...                      ...          ...           ...          ...
Iris-virginica           6.7          3.0           5.2          2.3
Iris-virginica           6.3          2.5           5.0          1.9
Iris-virginica           6.5          3.0           5.2          2.0
Iris-virginica           6.2          3.4           5.4          2.3
Iris-virginica           5.9          3.0           5.1          1.8

[134 rows x 4 columns]

In [18]:
iris2 = iris.query("sepal_length>5 and petal_length<1.5")

In [19]:
iris2["petal_width"]

0     0.2
14    0.2
16    0.4
17    0.3
28    0.2
33    0.2
36    0.2
Name: petal_width, dtype: float64

In [ ]:
iris = iris.set_index("species")

In [23]:
iris

                sepal_length  sepal_width  petal_length  petal_width
species
Iris-setosa              5.1          3.5           1.4          0.2
Iris-setosa              4.9          3.0           1.4          0.2
Iris-setosa              4.7          3.2           1.3          0.2
Iris-setosa              4.6          3.1           1.5          0.2
Iris-setosa              5.0          3.6           1.4          0.2
...                      ...          ...           ...          ...
Iris-virginica           6.7          3.0           5.2          2.3
Iris-virginica           6.3          2.5           5.0          1.9
Iris-virginica           6.5          3.0           5.2          2.0
Iris-virginica           6.2          3.4           5.4          2.3
Iris-virginica           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [24]:
iris.groupby("species").sum()

                 sepal_length  sepal_width  petal_length  petal_width
species
Iris-setosa             250.3        170.9          73.2         12.2
Iris-versicolor         296.8        138.5         213.0         66.3
Iris-virginica          329.4        148.7         277.6        101.3

In [26]:
iris.groupby("species").max() - iris.groupby("species").min()

                 sepal_length  sepal_width  petal_length  petal_width
species
Iris-setosa               1.5          2.1           0.9          0.5
Iris-versicolor           2.1          1.4           2.1          0.8
Iris-virginica            3.0          1.6           2.4          1.1